body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f56601;
}

.header {
    display: flex;
    padding: 5px;
    margin-bottom: 50px;
    max-height: 250px;
    overflow: hidden;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-height: 15px;
    margin-left: auto;
}

.nav-container a {
    z-index: 1;
}

.slider {
    margin-top: 20px;
    position: absolute;
    height: 5px;
    background-color: orange;
    transition: left .3s ease, width .3s ease; /* animation properties */
    z-index: 0;

} 

h1,h2,h3,h4,h5,h6 {
    display: flex;
    justify-content: left;
    color: #f56601;
}

h4 {
    text-decoration: underline;
}

p {
    font-size: 1.1em;
}

#logo {
    max-width: 75px;
    max-height: 50px;
    height: auto;
    margin-right: auto;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 25px;
}

.search-bar input[type="text"] {
    display: inline-block;
    background-color:rgb(54, 54, 54);
    color: white;
    border: none;
    border-radius: 5px;
    height: 25px;
}

.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 250px;
    position: relative;
}

.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    min-width: 50px;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    z-index: 1;
}

.next {
    position: absolute;
    right: 0;
}

.game-card {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 100%;
    margin-right: 30px;
    width: 200px;
    text-overflow: ellipsis;
}

.game-card img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.game-card h3 {
    margin: 0;
    padding: 5px;
}

.game-card p {
    margin: 0;
    padding: 5px;
}

.card-link:hover .game-card{
    background-color:rgba(54, 54, 54, .5);
}

.game-list {
    display: flex;
    justify-content: flex-start;
    position: relative;
    white-space: nowrap;
    /* margin-left: 30px; */
    width: 100%;
    transition: transform 0.5s ease;
}

.filter-dropdown {
    display: inline-block;
    height: 25px;
    padding-top: 2px;
}

.filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545454;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
}

.filter-content {
    display: none;
    position: absolute;
    background-color: #545454;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.filter-content label {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filter-content label:hover {
    background-color: #25252560;
    border-radius: 5px;
}

.filter-dropdown:hover .filter-content {
    display: block;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row;
    margin-top: 50px;
    gap: 20px;
    padding: 10px;
}

.grid-item {
    background-color: rgb(54, 54, 54);
    justify-content: center;
    align-items: center;
}

.game-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-view img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

iframe {
    border: 0;
}

.menu-line {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    margin: 6px 0;
}

.dropdown {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.dropdown-content{
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: auto auto;
    }

    .header {
        flex-direction: column;
        align-items: center;
        overflow: visible;
    }

    #logo, .nav-container, .search-bar {
        display: block;
        width: 100%;
    }

    .nav-container > a{
        margin: 0 20px;
    }

    .main-content {
        width: 100%;
        height: auto;
    }

    .filter-content {
        width: 100%;
    }
}
