body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f56601;
    text-decoration: underline;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    max-height: 250px;
}

.nav-bar > * {
    flex: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    max-height: 5px;
}

h1,h2,h3,h4,h5,h6 {
    display: flex;
    justify-content: left;
    color: #f56601;
}

h4 {
    text-decoration: underline;
}

p {
    font-size: 1.1em;
}

#logo {
    max-width: 250px;
    max-height: 250px;
    height: auto;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.horizontal-scroller {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}